/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css reset end */

/* applying this so can style childrens can take 100% of parent width and height */
body,
html,
main {
  width: 100%;
  height: 100%;
}

/* utilities */

/* utilities end */

/* page - 1 section 1 */
.page-1-section-1 {
  min-height: 100vh;
  background-image: url("../public/images/page-1-section-1-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* nav  */
nav {
  border: 2px solid darkred;
  max-height: 100px;
  padding-inline: 20px;
}

.nav-logo {
  width: 130px;
  height: 80px;
}

.nav-logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

/* nav  end*/

/* page - 1 section 1 end */

/* media breakpoints */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav {
    padding-inline: 10px;
  }
  .nav-logo {
    width: 94px;
    height: 65px;
  }
}
/* media breakpoints end */
