/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css reset end */

/* applying this so can style childrens can take 100% of parent width and height */

/* univeral styles */
body,
html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* univeral styles end */

/* utilities */
.font-normal {
  font-size: 1rem;
}

.button.only-gray-border {
  background-color: transparent;
  border: 1px solid gray;
}

.button.only-gray-border:hover {
  background-color: gray;
}

.bg-top {
  object-position: top;
}

.bg-center {
  object-position: center;
}

/* utilities end */

/* page - 1 section 1 */
.page-1-section-1 {
  color: white;
  min-height: 100vh;
  position: relative;
}

.bg-overlay {
  position: absolute;
  background-image: url("../public/images/page-1-section-1-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* nav  */
nav {
  max-height: 100px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: white;
  z-index: 3;
  position: relative;
}

nav a {
  color: white;
}

.nav-active-link {
  border-bottom: 2px solid white;
}

.nav-logo {
  width: 130px;
  height: 80px;
}

.nav-logo img {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

nav .nav-links-list {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style-type: none;
}

.nav-items-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-cart-item-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.button {
  padding-inline: 14px;
  padding-block: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.button.sign-in {
  background-color: transparent;
  border: 1px solid gray;
}

.button.sign-in:hover {
  background-color: gray;
}

.button.log-in {
  background-color: #ffa500;
}

.button.log-in:hover {
  background-color: #ffa600df;
}

/* nav  end */

.page-1-section-1-container {
  position: relative;
  display: flex;
  margin-top: 8%;
  z-index: 2;
}

.page-1-section-1-container-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.extra-container-margin-left {
  margin-left: 20px;
}

.page-1-section-1-heading {
  color: #d16e43;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.page-1-section-1-content-wrapper {
  width: 90%;
  margin: 0 auto;
}

.page-1-section-1-content-wrapper.width-normal {
  width: 100%;
}

.page-1-section-1-content-wrapper p {
  font-size: 1.5rem;
  font-weight: bold;
}

.page-1-section-1-content-wrapper.width-normal p {
  font-size: 1.1rem;
}
.cta-btn-md {
  margin-top: 20px;
  width: 35%;
  padding-inline: 10px;
  padding-block: 14px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid gray;
}

.cta-btn-md:hover {
  background-color: gray;
}

.page-1-section-1-container-carousel {
  border: 1px solid honeydew;
  padding: 10px;
}

/* page - 1 section 1 end */

/* page - 1 section 2 */

.page-1-section-2 {
  background-color: #c4c4c4;
  min-height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-1-section-2 h2 {
  font-size: 2rem;
}

.page-1-section-2 h1 {
  font-size: 3rem;
}

.page-1-section-2-container {
  display: flex;
  /* align-items: end; */
  align-items: center;
  /* align-items: start; */
  gap: 20px;
}

.page-1-section-2-col:nth-child(1) {
  flex-basis: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 35px;
}

.page-1-section-2-col:nth-child(2) {
  flex-basis: 40%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1-section-2-bg {
  display: block;
  border-radius: 100%;
  object-fit: cover;
  width: 85%;
}

.page-1-section-2-text-wrapper {
  /* width: 90%;
  margin: 0 auto; */
  font-size: 1.5rem;
}

.read-more-style {
  width: 20%;
  background-color: #f0ad90;
  color: black;
  border: 0;
  margin-left: 30px;
}

.read-more-style:hover {
  background-color: #ff8854ec;
}

/* page - 1 section 2 end */

/* page - 1 section 3  */

.page-1-section-3 {
  background-color: #b8a3ba;
  min-height: 60vh;
  padding: 20px;
}
/* page - 1 section 3 end  */

/* page - 1 section 4   */

.page-1-section-4 {
  min-height: 90vh;
  background-color: #0f172b;
  padding: 20px;
}

.page-1-section-4-container {
  /* width: 98%; */
  width: 90%;

  margin: 0 auto;
  display: flex;
  gap: 20px;
  /* align-items: center; */
  min-height: 66vh;
}

.page-1-section-4-col {
  flex-basis: 50%;
}

.page-1-section-4-col:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.page-1-section-4-col:nth-child(2) {
  min-height: 100%;
}

.page-1-section-4-col:nth-child(2) h2 {
  margin-left: 25px;
}

.page-1-section-4-col:nth-child(2) .theme-title-text {
  color: #ffab08;
  margin-bottom: 20px;
}

.text-white {
  color: white;
}

.reservation-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reservation-wrapper-inputs {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.reservation-wrapper-input {
  width: 100%;
}

.reservation-wrapper-input input,
textarea {
  width: 100%;
  padding: 15px;
}

.reservation-input-btn {
  background-color: #ffa500;
  width: 100%;
  padding: 20px;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}
.reservation-input-btn:hover {
  background-color: #ffa500;
  transition: 0.2s ease-in-out;
  transform: scale(1.01);
}

/* page - 1 section 4 end  */

/* page - 1 section 5 */

.page-1-section-5 {
  min-height: 60vh;
  padding: 20px;
  background-color: #000;
}

/* page - 1 section 5 end */

/* page - 1 section 6 */

.page-1-section-6 {
  min-height: 40vh;
  padding: 20px;
  background-image: url("../public/images/page-1-section-6-bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.newsletter-wrapper {
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-wrapper h2 {
  font-size: 3rem;
  color: white;
}

.newsletter-wrapper h2:nth-child(2) {
  color: #bba6a6;
}

.newsletter-wrapper p {
  color: #ffffff;
}

.email-wrapper {
  display: flex;
  align-items: center;
}

.email-wrapper input {
  padding: 13px;
  width: 100%;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.email-wrapper button {
  padding: 13px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  background-color: #bba6a6;
  color: white;
}

/* page - 1 section 6 end */

/* main container end */

/* page -2 section 1 */
/* main container */
.page-2-main-container {
  background-color: #251a17;
  min-height: 100vh;
}
/* nav */
.nav-search-input {
  width: 14%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 10px;
  padding-block: 5px;
}

.nav-search-input-field {
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}

.search-icon {
  color: black;
  font-size: 1rem;
}
/* nav end */

/* page - 2 section 1 */
.page-2-section-1 {
  min-height: 100vh;
  /* border: 1px solid aqua; */
  margin-top: 8%;
  padding: 20px;
  margin-bottom: 30px;
}

.hero-cafe-logo {
  /* by changing width i can inscrease size of image inside this div */
  width: 70%;
  margin: 0 auto;
}

.hero-cafe-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
  display: none;
}

.filter-option {
  padding: 10px;
  font-weight: bold;
}

.filter-option:nth-child(1) {
  background-color: #fcc8c8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filter-option:nth-child(2) {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter-option svg {
  color: red;
}

.page-2-section-1-container {
  width: 95%;
  margin: 20px auto;
  /* border: 1px solid darkorchid; */
  padding: 20px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.page-2-section-1-container-col {
  padding-inline: 10px;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border-left: 1px solid rgba(255, 255, 255, 0.88);
  border-right: 1px solid rgba(255, 255, 255, 0.88); */
}
.col-cover-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.col-cover-img-title {
  position: absolute;
  left: 0;
  color: rgba(255, 255, 255, 0.803);
  font-weight: bolder;
  width: 5%;
  padding-inline: 10px;
  display: none;
}

.col-cover-img img {
  /* aspect-ratio: 1/1; */
  /* width: 60%; */
  /* width: 100%; */
  /* height: 100%; */
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}
.col-menu-name {
  /* border: 1px solid firebrick; */
  padding: 10px;
  background-color: #d16e43;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 30px;
}
.col-menu-items {
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.item-col {
  padding: 8px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.item-col:nth-child(1) p {
  font-weight: bolder;
  font-size: 1rem;
}

.item-col:nth-child(2) p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.88);
}

.item-col:nth-child(2) span {
  font-weight: bold;
}

.item-col:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.88);
}
.item-col-small {
  /* display: none; */
  padding: 8px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.88);
  display: none;
}

.item-col-small-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 90%;
}

.item-col-small-content:nth-child(1) p:nth-child(1) {
  font-weight: bolder;
  font-size: 1rem;
}

.item-col-small-content p:nth-child(2) {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.88);
}

.item-col-small-content span {
  font-weight: bold;
}

.item-col-small-cover {
  flex-basis: 10%;
  position: relative;
}

.item-col-small-cover svg {
  position: absolute;
  left: 10px;
  top: 10px;
  color: red;
  font-size: 1.2rem;
}

.item-col-small-cover img {
  aspect-ratio: 1/1;
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

.item-col-small-counter {
  position: absolute;
  bottom: 0;
  left: 26%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.item-col-small-counter button {
  background-color: white;
  border: 0;
  outline: gray;
}

.item-col-small-counter button:hover {
  background-color: rgba(255, 255, 255, 0.81);
}

/* page - 2 section 1 end */

/* page - 2 section 2 */

.page-2-section-2 {
  border-top: 1px solid #d16e43;
  min-height: 60vh;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}

.page-2-section-title {
  width: 25%;
  padding-inline: 20px;
  background-color: #251a17;
  /* background-color: #d16e43; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-wrapper {
  padding-block: 20px;
  background-color: #d16e43;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page-2-section-2-categories-wrapper {
  margin-top: 40px;
  /* border: 1px solid green; */
  padding: 20px;
  display: flex;
}

.category-card {
  padding: 20px;
  /* border: 1px solid firebrick; */
  /* flex-basis: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: white;
}

.category-card-img-wrapper {
  width: 100%;
}

.category-card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.explore-more-link {
  padding-block: 20px;
  padding-inline: 38px;
  margin: 0 auto;
  background-color: #cb5f5f;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.explore-more-link:hover {
  background-color: #cb5f5fd3;
}
/* page - 2 section 2 end */

/* page - 2 section 3  */

.page-2-section-3 {
  border-block: 1px solid #d16e43;
  min-height: 80vh;
  position: relative;
}

/* page - 2 section 3 end */

/* page - 2 section 1 explore more */

.explore-more-page {
  background-color: #252323;
}
.page-2-section-1-explore-more {
  margin-top: 10px;
  height: 50vh;
}

.page-2-section-1-explore-more img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

/* page - 2 section 1 explore more end */

/* page - 2 section 2 explore more  */

.page-2-section-2-explore-more {
  margin-top: 9%;
  min-height: 100vh;
  border-top: 1px solid #ffff;
  position: relative;
  padding: 20px;
}

.explore-more-title {
  background-color: #252323;
  color: white;
  padding-inline: 10px;
}

.page-2-section-1-explore-more-container {
  margin-top: 45px;
  display: grid;
  /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.container-item-cover-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.see-more-link {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.arrow-down {
  color: gray;
  font-size: 1.4rem;
}

.see-more-link a {
  color: white;
  font-size: 1.4rem;
}

/* page - 2 section 2 explore more end */

/* page 2 section 1 see more  */
.page-2-section-1-see-more {
  margin-top: 10px;
  height: 50vh;
}

.page-2-section-1-see-more img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* object-position: top; */
}

/* page 2 section 1 see more end  */

/* page 2 section 2 see more   */

.page-2-section-2-see-more {
  margin-top: 2%;
  min-height: 100vh;
  /* border: 1px solid firebrick; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.see-more-menu-slider {
  padding-block: 20px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 2%;
}

.see-more-menu-slider .icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 150px;
  color: white;
}

.icon.icon-left {
  display: none;
  left: -10px;

  padding-left: 1rem;
}

.icon.icon-right {
  right: -10px;
  padding-right: 1rem;
  justify-content: flex-end;
  background: linear-gradient(to left, var(--light) 55%, transparent);
}

.icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.2s ease;
}

.icon i:hover {
  background-color: #dfdfdf;
}

.see-more-menu-slider .tabs {
  display: flex;
  gap: 15px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  list-style: none;
  position: relative;
  z-index: 9999;
  /* cursor: pointer; */
}

.tabs.drag {
  scroll-behavior: auto;
  cursor: grab;
}

.tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs .tab a {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}

.tabs.drag .tab {
  pointer-events: none;
  user-select: none;
}

.tab.active a {
  color: #ffaf40;
  border: 1px solid #ffaf40;
}

.see-more-container {
  width: 95%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
}

.see-more-container-item {
  width: 100%;
}

.item-name-type {
  min-width: 40%;
  max-width: 65%;
  margin: 0 auto;
  background-color: #d16e43;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-name {
  padding: 10px;
  font-weight: bold;
}

.item-type {
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3c9c9;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
}

.marker {
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.marker.non-veg {
  background-color: red;
}

.marker.veg {
  background-color: green;
}

.menu-item-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: start;

  /* justify-content: space-between; */
}

.item-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.item-row .item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-row .item-content p {
  color: #fdf4f4;
  font-weight: bold;
  width: 100%;
}

.item-row:nth-child(1) p:nth-child(2),
p:nth-child(3) {
  color: #f6fa11;
  font-weight: bolder;
  font-size: 1.1rem;
}
.item-row:nth-child(1) {
  flex-basis: 80%;
}

.item-row ul {
  margin-left: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-row:nth-child(2) {
  flex-basis: 20%;
  position: relative;
  display: flex;
}

.item-row:nth-child(2) img {
  aspect-ratio: 1/1;
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  display: none;
}

.item-row:nth-child(2) .item-btn {
  padding-block: 15px;
  padding-inline: 20px;
  border-radius: 8px;
  border: 0;
  background-color: #cb5f5f;
  color: white;
  font-weight: bold;
}

.item-counter {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  bottom: 0;
  left: 26%;
  display: none;
}

.item-counter button {
  background-color: white;
  border: 0;
  outline: gray;
}

.item-row:nth-child(2) svg {
  position: absolute;
  left: 10px;
  top: 10px;
  color: red;
  font-size: 1.2rem;
  display: none;
}

.item-row-counter {
  background-color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 20px;
  color: black;
}

.item-row-counter button {
  background-color: white;
  border: 0;
  outline: gray;
}

.value-combo {
  grid-template-columns: 1fr;
}

.down-arrow {
  width: 100px;
  margin: 0 auto;
  padding: 20px;
}

.down-arrow svg {
  font-size: 1.4rem;
  background-color: transparent;
}

.value-combo-text {
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

/* page 2 section 2 see more end  */

/* main container end */

/* cart page */

/* cart-page-container */
.cart-page-container {
  background-color: #1f1f1f;
  min-height: 100vh;
}

.cart-section-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 4%;
  border: 1px solid darkorange;
}
/* cart-page-container end */

/* cart page end */

/* contact page */
.contact-page-container {
  background-color: #161210;
  min-height: 100vh;
  color: white;
}

.contact-section-container {
  margin-top: 5%;
}
.contact-heading-text {
  width: 60%;
  margin: 0 auto;
  border: 1px solid greenyellow;
}

.contact-heading-text h2 {
  font-size: 2.8rem;
  text-align: center;
}
/* contact page end */

/* footer */
footer {
  min-height: 30vh;
  background-color: #cdc4c4;
}

footer .col {
  display: flex;
  padding: 20px;
}

.footer-col-1-style {
  justify-content: space-between;
  align-items: start;
}

.footer-col-2-style {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-col-2-style svg {
  font-size: 1.2rem;
}

.footer-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-link h3 {
  font-size: 1.3rem;
}

.footer-link ul {
  list-style-type: none;
  font-size: 1rem;
  padding: 8px;
}

.footer-link ul li {
  margin-block: 5px;
  text-align: center;
}

.footer-col-3-style {
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* footer end*/

/* media breakpoints */

@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* page - 1 section - 1  */
  /* nav */
  nav {
    padding-inline: 10px;
  }
  .nav-logo {
    width: 94px;
    height: 65px;
  }

  nav .nav-links-list {
    display: none;
  }

  .nav-items-list {
    display: none;
  }

  /* nav end */

  .page-1-section-1 {
    background-color: #b38e5f;
  }

  .bg-overlay {
    max-height: 68vh;
  }

  .page-1-section-1-container {
    flex-direction: column;
    margin-top: 5%;
  }

  .page-1-section-1-container-col {
    padding: 10px;
    gap: 15px;
  }

  .page-1-section-1-container-col.margin-t-sm {
    margin-top: 10%;
  }

  .page-1-section-1-heading {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
  }

  .page-1-section-1-content-wrapper {
    width: 100%;
  }

  .page-1-section-1-content-wrapper p {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
  }

  .page-1-section-1-content-wrapper.width-normal p {
    font-size: 1rem;
  }

  .extra-container-margin-left h2 {
    text-align: left;
  }

  .extra-container-margin-left {
    margin-left: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .page-1-section-1-container-col .cta-btn-md {
    margin-top: 10px;
    margin-inline: auto;
  }

  /* page - 1 section - 1 end  */

  /* page 1 section 2 */
  .page-1-section-2-container {
    flex-direction: column-reverse;
    /* align-items: center; */
  }

  .page-1-section-2-bg {
    /* width: 85%; */
    max-width: max(40%, 60%, 70%);
  }

  .page-1-section-2 h2 {
    font-size: 1.5rem;
  }

  .page-1-section-2 h1 {
    font-size: 2rem;
  }

  .page-1-section-2-text-wrapper {
    font-size: 1rem;
    letter-spacing: 0.8px;
  }

  .read-more-style {
    width: 40%;
  }
  /* page 1 section 2 end */

  /* page 1 section 3  */

  /* page 1 section 3 end */

  /* page 1 section 4 */
  .page-1-section-4-container {
    flex-direction: column;
  }

  /* page 1 section 4 end */

  /* page 1 section 6 */
  .newsletter-wrapper {
    width: 100%;
    padding: 5px;
  }

  .newsletter-wrapper h2 {
    font-size: 2rem;
  }
  /* page 1 section 6 end */

  /* page 2 section 1 */
  .page-2-section-1 {
    padding: 0;
  }

  .menu-filter {
    display: flex;
  }

  .page-2-section-1-container {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .page-2-section-1-container-col {
    padding: 10px;
  }

  .col-cover-img img {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .col-cover-img-title {
    display: block;
  }
  .col-menu-name {
    display: none;
  }

  .item-col {
    /* flex-direction: column; */
    /* gap: 10px; */
    display: none;
  }

  .item-col-small {
    display: flex;
  }

  .menu-add-item-btn {
    display: none;
  }

  /* page 2 section 1 end */

  /* page 2 section 2 */

  .page-2-section-title {
    width: 250px;
  }
  .title-wrapper {
    font-size: 1rem;
  }

  .page-2-section-2-categories-wrapper {
    flex-direction: column;
  }

  /* page 2 section 2 explor more section */
  .page-2-section-1-explore-more-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .container-item-cover-img img {
    width: 100px;
    height: 100px;
  }

  .container-item h3 {
    text-align: center;
    font-size: 1rem;
  }
  /* page 2 section 2 explor more section end */

  /* page 2 section 2 see more section  */

  .page-2-section-2-see-more {
    padding: 10px;
  }

  .see-more-menu-slider {
    width: 100%;
  }

  .item-row:nth-child(2) img {
    display: block;
  }

  .item-row:nth-child(2) .item-btn {
    display: none;
  }

  .item-counter {
    display: flex;
  }

  .item-row:nth-child(2) svg {
    display: block;
  }

  .item-row-counter {
    display: none;
  }

  .see-more-container {
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    width: 100%;
  }

  /* page 2 section 2 see more section end */

  /* page 2 section 2 end */

  /* footer */

  footer .col:nth-child(1) {
    flex-direction: column;
  }

  .footer-link {
    justify-content: center;
    align-items: center;
  }

  .footer-link ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* footer end */
}

/* media breakpoints end */

@media only screen and (min-width: 769px) and (max-width: 1440px) {
  /* page 2 section 2  */
  .page-2-section-title {
    width: 30%;
  }
  /* page 2 section 2 end */
}
